<h1>Bienvenido a los Cuartos de Final {{nombre}} </h1>


<div>

<!--

{{#if notes}}

  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>

        <th>GRUPO</th>
        <th>FECHA</th>
        <th>EQUIPO</th>
        <th>RESULTADO</th>
        <th>EQUIPO </th>
        <th>RESULTADO</th>
        <th >Accion</th>
      </tr>
    </thead>
    <tbody>
      {{#each notes}}
        <tr>
          <td>{{grupo}}</td>
          <td>{{fecha}}</td>
          <td>{{equipo1}}</td>
          <td>{{pronostico1}}</td>
          <td>{{equipo2}}</td>
          <td>{{pronostico2}}</td>
          <td><a href="/notes/edit/{{_id}}"><i class="fas fa-pen-alt" style="color: black"></i></a></td>
          
        </tr>
       {{/each}}
    </tbody>
  </table>
{{/if}}
</div>

-->
<div class="container">

         <img  style="width: 50%;" src="/img/construccion.jpg">
</div>