<div style="background-image: url(/img/fondo5.png); background-size: cover; background-repeat: no-repeat;" >
<br>
<h1 style="text-align:center; font-size: 2.5vh; color:white" > {{nombre}}   {{apellido}} </h1>
 <h1 style="text-align:center; font-size: 2.5vh; color:white"  >Bienvenido a la Gran Final</h1> 
<br>
<h2 style="font-size:2.5vh; text-align:right; margin-right:10%; color:white">Su puntuación:  <b>   {{punt}} </b></h2>
<h2 style="font-size:2.5vh; text-align:right; margin-right:10%;color:white">estas Ubicado en la Posición: <b> {{posicion}}</b></h2>
<br>
<div style="width: 80%; text-align:center; margin-left:10%">

      <br><br>      <br><br>      <br><br>      <br><br>

{{#if notes25}}

  <table class="table table-bordered table-hover  table-striped-columns">
    <thead>
      <tr>

        <th  >EQUIPO </th>
        <th >PRONOSTICO</th>
        <th >RESULTADO</th>
        <th  >EQUIPO </th>
        <th >PRONOSTICO</th>
        <th >RESULTADO</th>
        <th >PRIMER GOL</th>
        <th >PUNTOS</th>
        <th  >Accion</th>
      </tr>
    </thead>
    <tbody>
    {{#each notes25}}
      <tr>
		  <td >{{equipo1}}</td>
      <td >{{pronostico1}}</td>
      <td >{{resultado1}}</td>
		  <td >{{equipo2}}</td>
      <td >{{pronostico2}}</td>
      <td >{{resultado2}}</td>
      <td >{{equipogol}}</td>
      <td >{{puntos}}</td>
      <td><a href="/notes/edit-f/{{_id}}"><i class="fas fa-pen-alt" style="color: black"></i></a></td>
     </tr>
    {{/each}}
   </tbody>
  </table>
{{/if}}
</div>
<br><br>      <br><br>      <br><br>      <br><br>      <br><br>      <br><br>      <br><br>
</div>