<div style="background-image: url(/img/fondo5.png); background-size: cover; background-repeat: no-repeat;" >
<br>
<h1 style="text-align:center; font-size: 2.5vh; color:white" > {{nombre}}   {{apellido}} </h1>
 <h1 style="text-align:center; font-size: 2.5vh; color:white"  >Bienvenido a la Gran Final</h1> 
<br>
<h2 style="font-size:2.5vh; text-align:left; margin-left:25%; color:white">Su puntuación:  <b>   {{punt}} </b></h2>
<h2 style="font-size:2.5vh; text-align:left; margin-left:25%;color:white">estas Ubicado en la Posición: <b> {{posicion}}</b></h2>
<br>


      <br><br>      <br><br>

<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header bg-dark text-center">
      <h3 class="text-white">GRAN FINAL Modificacion</h3>
    </div>
    <div class="card-body ">
        <form action="/notes/note-edit-f1/{{note._id}}?_method=PUT" method="POST">

        <input type="hidden" name="_method" value="PUT" />
        <div class="mb-3">
          <label for="description">EQUIPO</label>
            <input
            type="text"
            name="equipo1"
            class="form-control"
            value = "{{note.equipo1}}"
  
          />
        </div>

        <div class="mb-3">
          <label for="description">GOLES</label>
            <input
            type="text"
            name="pronostico1"
            class="form-control"
            value = "{{note.pronostico1}}"
            
          />
        </div>
        <div class="mb-3">
          <label for="description">EQUIPO</label>
            <input
            type="text"
            name="equipo2"
            class="form-control"
            value = "{{note.equipo2}}"
          />
        </div>
                <div class="mb-3">
          <label for="description">GOLES</label>
            <input
            type="number"
            name="pronostico2"
            class="form-control"
            value = "{{note.pronostico2}}"
            
          />
        </div>
                          <div class="mb-3">
          <label for="description">EQUIPO EN MARCAR EL PRIMER GOL</label>
            <input
            type="text"
            name="eqgol"
            class="form-control"
            value = "{{note.equipogol}}"
            
          />
        </div>
         <input class="visually-hidden" type="text" name="jugado" value="S" readonly>
         <input class="visually-hidden" type="text" name="grupo" value="FN" readonly>
         <input class="visually-hidden" type="text" name="fecha" value="14/07/2024" readonly>

         

 
          <button class="btn btn-success btn-block">Guardar Modificacion</button>

            <!--          <a href="/notes"><i class="fas fa-undo" style="color: rgb(243, 15, 15);"></i></a>-->
      </form>
    </div>

  </div>
      <br><br>      <br><br>
</div>
</div>
